*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    font-family: Jost;
    background-color: black;
}

.container{
    height: 100vh;
    background-image: linear-gradient( to bottom,
     rgba(0, 0, 0, 0.8) 0%,
     rgba(0, 0, 0, 0.2) 20%,
     rgba(20 ,20 ,20 ,0.2) 80%,
     rgba(20 ,20 ,20 ,1) 100%),
     url(../Imagens/banner2.webp);
     background-size: cover;
     padding: 0.26rem 0.75rem 0 0.75rem;

}

/*Configs gerais
---------------------------------------------*/



/*Header 
---------------------------------------------*/
header{
    display: flex;
    align-items: center;
}

.logo img{
    
    width: 180px;
}

.videos{
    position: absolute; 
	left: 640px; 
	top: 140px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu-left,
.menu-right{
    display: flex;
    color: #fff;
    font-size: .87rem;
}

.menu-left,
.menu-right, ul li{
    padding: 5px 15px 5px 0px;
    cursor: pointer;
    text-transform: uppercase;
}
.menu-right ul li{
    padding-right: 1.5rem;
}


/*Area do Banner
-----------------------------------------*/
.banner{
    padding-left: 2.5rem;
    padding-top: 7rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #fff;
}
.banner .poster{
    width: 450px;
}

.banner .subititulo{
    width: 450px;
    font-size: 1.25rem;
    line-height: 1.30rem;
    padding-top: 1.5rem;
}

.buttons{
    padding-top: 2rem;
}

button.btn{
    padding: 0.6rem , 2rem;
    padding-right: .75rem;
    margin-right: 16px;
    border-radius: 0.125rem;
    color: #fff;
    background: rgba(51,51,51,0.4);
    text-transform: uppercase;
    font-size: 100%;
    border: 0;
}

.buttons .btn i{
    margin-right: 0.7rem;
}

/*Categorias
----------------------------------------------------------------------*/
.categorias{
    height: 400px;
    padding-top: 60px;
}
.categorias span.span{
    color: #fff;
    font-size:2rem;
    font-weight: 700;
    line-height: 17px;
    position: absolute;
    left: 8px;
    top: 110px;
    text-transform: uppercase;
}

.controle{
    display: flex;
    padding-top: 10rem;
    overflow: hidden;
    position: absolute;
    left:3.40rem;
    right: 0;
    
}

.controle .filmes{
    min-width: 20%;
}
.controle .filmes img{
    max-width: 100%;
    padding-right: 5px;
}
.filmes img{
    width: 250px;
}

p{
    padding-left: 10px;
    padding-top: 4px;
    color: #fff;
    font-weight: 800;
}
span{
    color: #fff;  
    padding-top: 15px;
}
span.dat{
    font-weight: 300;
padding-left: 10px;

}

span.min{
    font-weight: 300;
padding-left: 140px;
}

.esp{
    padding-top: 55px;
}


/*Rodape
--------------------------------------------------------------------------------*/
h3{
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.rodape{
   margin: 100px auto 0;
   width: 90%;
   color: #fff;
   display: flex;
   padding-top: 250px;
   flex-direction: row;
   justify-content: space-between;
}

.social ul li {
    list-style: none;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.603);

}
.pag ul li {
    list-style: none;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.603);
}
.infor ul li{
    list-style: none;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.603);
}
i{
    padding-right: 10px;
}
h2{
    color: #fff;
    padding-left: 153px;
    padding-top: 80px;
}
p.rodapa{
    font-size: 1rem;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

p.uti{
    font-size: 1rem; 
    color: rgba(255, 255, 255, 0.603);
}



.final{

    padding-top: 50px;


}


h4{
    font-size: 1.5em;
    padding-top: 15px;
    color: white;
}

h4.centro{
  text-align: center;
}